.main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    background: black;
}
.navbar-logo {
    align-items: center;
    color: white;
}
.main-nav {
    display: flex;
    justify-content: center;
    flex: 1;
    align-items: center;
    list-style: none;
}
.main-nav li {
    margin: 0 1rem;
    cursor: pointer;
}
.main-nav li a {
    text-decoration: none;
    color: white;
}
.main-nav li:hover a {
    color: lightcoral;
    border-bottom: 1px solid rgb(184, 163, 163);
    transition: 0.8s ease;   
}
/* .navbar-login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
} */
.navbar-login a {
    margin: 0 1rem;
    text-decoration: none;
    transition: .5s ease;
    color: white;
}
.navbar-login div {
    width: 1px;
    height: 30px;
}

.navbar-small {
    display: none;
}

.navbar-small-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    transition: .5s ease;
    flex-direction: column;
    z-index: 5;
}
.navbar-small-overlay .overlay-close {
    font-size: 25px;
    color: lightcoral;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}
.navbar-small-links {
    list-style: none;
}
.navbar-small-links li {
    margin: 2rem;
    cursor: pointer;
    color: coral;
    text-align: center;
}
.navbar-small-links li a {
    text-decoration: none;
    color: white;
}
.navbar-small-links li:hover a {
    color: lightcoral;
}


@media screen and (max-width: 1150px) {
    .main-nav{
        display: none;
    }
    .navbar-small-links {
        display: block;
    }
}

@media screen and (max-width: 650px) {
    .main-menu {
        padding: 1rem;
    }
    .navbar-login{
        display: none;
    }
    .navbar-small {
        display: block;
    }
   
}